<div style="height:auto; background-color:rgba(0,0,12, 0.8); color:white; padding-top:70px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
               <h6 style="font-weight: 900;">CONTACT INFO</h6>
             <p>  ADDRESS:
10 pansheraka Road, pansheraka, Kano, Nigeria   
</p>
<p style="line-height: 0.4;">            
 PHONE/WhatsApp:
 09074692816
</p>
<p>
EMAIL:
osuoalehezekiah@gmail.com
</p>
<p>
OFFICE DAYS/HOURS:
Mon - sat / 9:00 AM - 5:00 PM
</p>

            </div>
            <div class="col-lg-4">
               <h6>ABOUT US</h6>
<p style="font-size:15px; letter-spacing: 2px;">VTU.ng is a virtual top-up platform owned and operated by FraNKAPPWeb Technologies (RC 2384195). We are duly registered with the corporate affairs commission (CAC).
</p>
Our services include but not limited to Buying/Reselling of Cheap Data & Airtime, Electricity Bills Payment, Cable TV Subscription and Airtime to Cash Conversion.

Enjoy our massive discounts for resellers and partners and make money with us. Learn more
            </div>
            <div class="col-lg-4">
                <h6> RESOURCES </h6>
                <div style=" line-height:10px;font-size:15px; ">
<p> Airtime </p>
<p> Data </p>
<p>  Cable TV </p>
<p>  Electricity </p>
<p> Airtime to Cash </p>
<p> API Documentation </p>
<p> Pricing</p>
<p> About </p>
<p> Blog  </p>
<p> Contact </p>
</div>
            </div>
        </div>
        <hr>
    </div>
    
</div>
  
</body>
</html>