<div   style="font-size:13px; background-color: lightblue; color:rgba(255, 255 255, 0.3); height:auto; width:100%;">
 <div style="padding-top: 50px;" class="container">
  <div>
   <div class="row">
     <div class="col-lg-4">
       <div style="padding-bottom: 8px; list-style:none;" >
        <h6>Contact info</h6>
         <li  >ADRESS</li>
         <li>10 Ubaha Road, Umunze, Anambra, Nigeria  </li>
        </div>
        
       <div style="padding-bottom: 8px; list-style:none; ">
        
         <li>Phone/Whatsapp</li>
         <li>09074692816</li>
           </div>     
                
       <div style="padding-bottom: 8px; list-style:none;"">
                
                    <li  >Email</li>
                    <li>osuolalehezekiah@gmail.com  </li>
            </div>
        
       <div style="padding-bottom: 8px; list-style:none;"">
                
                    <li>OFFICE DAYS/HOURS:</li>
                    <li>Mon - Sat / 9:00 AM - 5:00 P</li>
            </div>
        
                
        </div>
           
            <div  class="col-lg-4">
                <h6>About us</h6>
                <p>
                VTU.ng is a virtual top-up platform owned and operated by FraNKAPPWeb Technologies (RC 2384195). We are duly registered with the corporate affairs commission (CAC).</p>
Our services include but not limited to Buying/Reselling of Cheap Data & Airtime, Electricity Bills Payment, Cable TV Subscription and Airtime to Cash Conversion.

<p>Enjoy our massive discounts for resellers and partners and make money with us. Learn more<p>
            </div><div class="col-lg-4">
                <h6>Resources</h6>
                <div style="list-style: none;" class="paired">
                    <li >Data</li>
                    <li>Caple Tv </li>
                    <li>Electricity</li>
                    <li> Pricing</li>
                    <li  >About</li>
                    <li  >Blog</li>
                    <li  >Contact</li>
                </ul>
            </div>
        </div>
    </div>
      <hr>
      <p>Copyright © 2022 VTU.ng. All Rights Reserved. <a href="">Terms & Conditions</a> |<a href="" >Privacy Policy </a></p>
<p>  Developed by <a> hezekiah osuolale </a></p>
    </div>
</div>
</body>
</html>