<style>
  .container{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
</style>
<%- include('partials/header.ejs') %>
  <div class="container">
    <h2 style="text-align: center; padding:20px">Buy VTU Airtime & Get Instant Discounts</h2>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <form  action="/topup/airtime" method="post">
                <label for="network">Network <span style="color: red;">*</span></label>
                <select class="form-control" name="airtime" id="network">
                    <option value="">Choose a Network</option>
                    <option value="Mtn">Mtn</option>
                    <option value="Airtel">Airtel</option>
                    <option value="Glo">Glo</option>
                    <option value="9mobile">9mobile</option>
                </select>
                <label for="">Phone Number  <span style="color: red;">*</span></label>
                <input class="form-control" type="text" name="phonenumber" placeholder="Phone Number" required>
               <label for="">Amount <span style="color: red;">*</span></label>
                <input  class="form-control" type="number" name="amount" placeholder="ammount" required>
                <div style="padding: 10px;"> </div>
                <button  class="btn btn-lg btn-primary">Continue</button>  
            </form>
        </div>
        <div class="col-lg-6"
        ></div>
    </div>
   <hr>
   <p>
    Buy/Resell Airtime Online at Discount Prices for all Mobile Networks (MTN, Glo, Airtel & 9mobile) in Nigeria. Buy Recharge Card PINS Online. Instant Delivery!</p>
  </div>


<%- include('partials/footer.ejs') %>
