<%- include('partials/header.ejs') %>
<div class="container">
    <div  style="text-align:center ; padding:20px">
  <a href="/topup/airtime" class="btn btn-success btn-lg" >Airtime</a>
  <a class="btn btn-primary btn-lg">Data</a>
  <a class="btn btn-warning btn-lg"> TV Cable</a>
  <a class="btn btn-danger btn-lg">Electricity</a>
    </div>
<h3 style="padding: 15px;">RECENT WALLET TRANSACTIONS</h3>
<table class="table table-bordered">
    <thead>

    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
  </table>
  <a class="btn btn-primary">View All Wallet Transcation</a>
  <a >log out</a>
</div>
<%- include('partials/footer.ejs') %>