<%- include('partials/header.ejs') %>
  
<div class="container">
    <div class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">
        <div class="col-md-12 col-lg-6">
            <div class="hero-slider-content text-white py-5">
                <h1 class="text-white">WELCOME TO SURPLUS DATA</h1>
                <p class="lead">One of Nigeria's biggest platform for affordable mobile Data, Airtime of all Networks, Bill payments and Cable TV subscriptions.</p>

                <div class="action-btns mt-4">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="/login" class="d-flex align-items-center app-download-btn btn btn-brand-02 btn-rounded">
                                <i aria-hidden="true" class="fas fa-user-plus"></i>
                                <div class="download-text text-left">
                                    <small>Dashboard</small>
                                    <h5 class="mb-0">Login</h5>
                                </div>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/signup" class="d-flex align-items-center app-download-btn btn btn-brand-02 btn-rounded">
                                 <i aria-hidden="true" class="fas fa-user"></i>
                                <div class="download-text text-left">
                                    <small>Get Started</small>
                                    <h5 class="mb-0">Register Now</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
<%- include('partials/footer.ejs') %>
