<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />   
    <link rel="stylesheet" href="./css/app.css">
     
</head>
  <body>
    <nav  class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Flash Data</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul  class="navbar-nav me-auto mb-2 mb-lg-0 navbar-right nav navbar-nav navbar-right">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Airtime</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Data</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Cable TV</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Electricity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Blog</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
             <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/signin">login</a>
              </li> <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/signup">signup</a>
              </li>
              </ul>
            
          </div>
        </div>
      </nav>
      <div style="padding-top: 20px;" class="container">
         
        <div  class="back">
            <div class="header">
             <span>1GB</span>
             <span>30 Days</span>
             <span>now at 250</span>
             <button class="btn btn-primary">Get Yours!</button>
            </div>  
  </div>
  
  <h1 class="text" style="text-align: center;">Buy/Resell Cheap Data & Airtime | Electricity Bills Payment | Cable TV Subscription | Convert Airtime to Cash</h1>
  <div class="container">
    <div class="row">
      <div  class="col-lg-4 text">
        <h2>WHY CHOOSE US?</h2>
        <P>We serve customers base on love that continues to grow exponentially, offering transmission services that span various categories including Data subscription, cable sub, electric bill, Airtime(vtu), and much more. With a reliable customer support.</P>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
         <a class="btn">
    
        
                <div class="container">
            Our system is automated
            Our service delivery and wallet funding is automated, your purchase are automated and get delivered to you at a blink of an eye.
        </div>
        </a>      
        </div>
        <div class="col-lg-3">
            <a class="btn">
       
           
                   <div class="container">
               Our system is automated
               Our service delivery and wallet funding is automated, your purchase are automated and get delivered to you at a blink of an eye.
           </div>
           </a>      
           </div>
           <div class="col-lg-3">
            <a class="btn">
       
           
                   <div class="container">
               Our system is automated
               Our service delivery and wallet funding is automated, your purchase are automated and get delivered to you at a blink of an eye.
           </div>
           </a>      
           </div>
           <div class="col-lg-3">
            <a class="btn">
       
           
                   <div class="container">
               Our system is automated
               Our service delivery and wallet funding is automated, your purchase are automated and get delivered to you at a blink of an eye.
           </div>
           </a>      
           </div>
    
      </div>
    </div>
  </div>
</div>
<div  class="backs">
  <div class="contents">
    <div class="row">
      <div class="col-lg-3">
        CONTACT INFO
<p>ADDRESS:</p>
<p> 10 Ubaha Road, Umunze, Anambra, Nigeria </p>
<p>PHONE/WhatsApp:</p>
<p>  07045461790</p>
<p> EMAIL:</p>
<p> hello@vtu.ng</p>
<p> OFFICE DAYS/HOURS:</p>
<p> Mon - Sat / 9:00 AM - 5:00 PM</p>
      </div>
      <div class="col-lg-3">
       <p> ABOUT US
        VTU.ng is a virtual top-up platform owned and operated by FraNKAPPWeb Technologies (RC 2384195). We are duly registered with the corporate affairs commission (CAC).
        </p>
        <p>Our services include but not limited to Buying/Reselling of Cheap Data & Airtime, Electricity Bills Payment, Cable TV Subscription and Airtime to Cash Conversion.
        </p>
        <p>Enjoy our massive discounts for resellers and partners and make money with us. Learn more
      </p>
        </div>
      <div class="col-lg-3">
        <ul>
       <h6> RESOURCES  </h6>
<li> Airtime </li>
<li>Data </li>
<li> Cable TV </li>
<li> Electricity </li>
<li> Airtime to Cash </li>
<li> API Documentation </li>
<li> Pricing </li>
<li> About </li>
<li> Blog </li>
<li> contact </li>
</ul>
      </div>
    </div>
  </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>