body{
    background-color: royalblue;
    font-family: "Courier, monospace";
    box-sizing: border-box;
}
h6{
    letter-spacing: 0.5rem;
    text-align: center;
    padding-top: 50px;
    color: blue;

}
h5{
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.5rem;
    padding-bottom: 30px;

}
p{
    text-align: center;
    padding: 20px;
}

.error{
    font-size: 18px;
    color: darkred;

}